
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
    }

h2{
    font-family: 'Monteserrat', sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin-top: 0px;
    color: #66BFBF;

}

h3{
    font-family: 'Monteserrat', sans-serif;
    color: #11999E;
}

hr{
    border-style: dotted none none none;
    border-width: 5px;
    width: 6%;
    border-color: #808080;
}

p{
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Monteserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;

}

body{
    color: #66BFBF;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}
.top-container{
    padding-top: 20px;
    background-color: #31B7A5;
    }

.middle-container{

}

.bottom-container{

}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: relative;
    right: 20px;
    bottom: 300px;
}

.top-cloud{
    position:relative;
    left: 150px;
    margin-top: 30px;
}

.profile{
    width: 200;
    margin-bottom: 100px;
}

.skills {
    line-height: 2;
    margin-top: 100px;
    margin-bottom: 0px;
}

.profile-pic{
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.skill-img{
    border-radius: 45%;
    position: relative;
    right: 200px;
    top: 20px;

}

.chilli{
    border-radius: 45%;
    position: relative;
    left: 500px;
    width: 250px;
}



.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-text {
    position: relative;
    bottom: 150px;
    left:150px
}

.sec-skill-text {
    position: relative;
    bottom: 180px;
    right: 190px;
}

.contact-me{
    margin-top: 100px;
    margin-bottom: 50px;
}

.bottom-container{
    background-color: #31B7A5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Monteserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 10%;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



